.address-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-bg-block);
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__info-item {
    white-space: wrap;
    font-size: 16px;
    color: var(--color-text);
  }
}