:root {
  // Цвета
  --color-main: #4d7aea;
  --color-text: #2f343e;
  --color-bg: #8caec5;
  --color-bg-block: #efefef;
  --color-bg-input: #f8f8f8;
  --color-border: #232221;

  // border-radius
  --border-radius: 5px;

  // z-index
  --z-index-modal: 1000;
}